<div class="container-mt-2">
  <div class="d-flex flex-column gap-2">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand ms-3 cursor-pointer" role="button" href="">CF7 - Angular Introduction</a>
    </nav>
    <div class="d-flex flex-row gap-2">
      <div class="d-flex flex-column text-nowrap bg-light p-2">
        <span role="button">Component Input Example</span>
        <span role="button"> {{ "@for" }} Directive Example</span>
        <span role="button">Event Bind Example</span>
      </div>
    </div>
  </div>
</div>